.box-tela-login {
    width: 50vh;
    height: 50vh;
    background-color: #161616;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px #161616;
}

.logo-tela-login {
    width: 270px;
    margin: 30px;
    padding: 0;
    margin-top: -30px;
    transition: 0.5s;
}

.logo-tela-login:hover {
    transition: 0.5s;
    transform: scale(105%);
}

.form-tela-login {
    width: 60%;
    height: 60%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: -50px;
    color: #ffffff;
    font-family: Agency FB;
    font-size: 28px;
}

.box-input-tela-login {
    width: 110%;
    height: 30%;
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.input-tela-login {
    width: 70%;
    height: 30%;
    margin-left: 30px;
    border-radius: 5px;
    border: none;
}

.btn-tela-login {
    width: 60%;
    height: 15%;
    border-radius: 5px;
    border: none;
    transition: 0.5s;
}

.btn-tela-login:hover {
    transform: scale(105%);
    color: #ffffff;
    background-color: #ff5100;
    transition: 0.5s;
}